In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("Names_dataset.csv")

In [4]:
df

              name gender
0           alfiya      f
1           ardwin      m
2          henryka      f
3           preeti      f
4           jamaro      m
...            ...    ...
125226    loreatha      f
125227       deepa      f
125228    kinshasa      f
125229  charlianne      f
125230      ashish      m

[125231 rows x 2 columns]

In [5]:
df.describe()

          name  gender
count   125175  125231
unique  108568       2
top      pooja       f
freq       357   75971

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125231 entries, 0 to 125230
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   name    125175 non-null  object
 1   gender  125231 non-null  object
dtypes: object(2)
memory usage: 1.9+ MB

In [7]:
df.count()

name      125175
gender    125231
dtype: int64

In [10]:
df.head()

      name gender
0   alfiya      f
1   ardwin      m
2  henryka      f
3   preeti      f
4   jamaro      m

In [11]:
df.tail(10)

               name gender
125221        major      m
125222      chazten      m
125223  pawan kumar      m
125224     dalshawn      m
125225      hillary      m
125226     loreatha      f
125227        deepa      f
125228     kinshasa      f
125229   charlianne      f
125230       ashish      m

In [12]:
gender = {'m':1,'f':0}
df.gender = [gender[item] for item in df.gender]

In [13]:
df

              name  gender
0           alfiya       0
1           ardwin       1
2          henryka       0
3           preeti       0
4           jamaro       1
...            ...     ...
125226    loreatha       0
125227       deepa       0
125228    kinshasa       0
125229  charlianne       0
125230      ashish       1

[125231 rows x 2 columns]

In [15]:
df.size

250462

In [16]:
#for randomness we use dffinal = df.sample(frac=1)

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction import DictVectorizer

In [18]:
names = df['name']

In [19]:
names

0             alfiya
1             ardwin
2            henryka
3             preeti
4             jamaro
             ...
125226      loreatha
125227         deepa
125228      kinshasa
125229    charlianne
125230        ashish
Name: name, Length: 125231, dtype: object

In [20]:
names[0]

'alfiya'

In [21]:
cv = CountVectorizer()
x = cv.fit_transform(names.values.astype('U'))

In [22]:
cv.get_feature_names()

C:\Users\vimat\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['aaban',
 'aabha',
 'aabid',
 'aabriella',
 'aachal',
 'aada',
 'aadam',
 'aadan',
 'aadarsh',
 'aaden',
 'aadesh',
 'aadhav',
 'aadhavan',
 'aadhi',
 'aadhira',
 'aadhvik',
 'aadhya',
 'aadhyan',
 'aadi',
 'aadian',
 'aadil',
 'aadin',
 'aadish',
 'aadison',
 'aadit',
 'aadith',
 'aadithya',
 'aaditri',
 'aaditya',
 'aadiv',
 'aadon',
 'aadrian',
 'aadrika',
 'aadrit',
 'aadvik',
 'aadvika',
 'aadya',
 'aadyn',
 'aaenab',
 'aafia',
 'aafreen',
 'aafrin',
 'aaftaab',
 'aaftab',
 'aagad',
 'aagam',
 'aagand',
 'aage',
 'aagot',
 'aahaan',
 'aahan',
 'aahana',
 'aahil',
 'aahim',
 'aahir',
 'aahliyah',
 'aahna',
 'aahron',
 'aahuja',
 'aaidan',
 'aaiden',
 'aaidyn',
 'aaila',
 'aailiyah',
 'aailyah',
 'aaima',
 'aaira',
 'aairah',
 'aaisha',
 'aaishah',
 'aaiyana',
 'aaiza',
 'aaja',
 'aajad',
 'aajah',
 'aajam',
 'aajaylah',
 'aajiv',
 'aajon',
 'aakanksha',
 'aakar',
 'aakarsh',
 'aakas',
 'aakash',
 'aakashmultan',
 'aakeem',
 'aakhon',
 'aakib',
 'aakil',
 'aakilah',
 'aakira',
 'aakiyah',
 'aakriti',
 'aala',
 'aalabndi',
 'aalaiya',
 'aalaiyah',
 'aalam',
 'aalana',
 'aalanah',
 'aalani',
 'aalap',
 'aalaya',
 'aalayah',
 'aalayiah',
 'aalayjah',
 'aalayna',
 'aalaysha',
 'aalaysia',
 'aale',
 'aalea',
 'aaleah',
 'aaleahya',
 'aaleena',
 'aaleeya',
 'aaleeyah',
 'aaleiah',
 'aaleigha',
 'aaleiyah',
 'aalena',
 'aalexis',
 'aalexus',
 'aaleya',
 'aaleyah',
 'aali',
 'aalia',
 'aaliah',
 'aaliana',
 'aalias',
 'aaliayah',
 'aaliayh',
 'aalicia',
 'aaliha',
 'aalijah',
 'aalim',
 'aalimah',
 'aalina',
 'aalinah',
 'aalisa',
 'aalisha',
 'aalivia',
 'aaliya',
 'aaliyaa',
 'aaliyah',
 'aaliyaha',
 'aaliyahmarie',
 'aaliyahrose',
 'aaliyan',
 'aaliyana',
 'aaliyanna',
 'aaliyha',
 'aaliyiah',
 'aalliyah',
 'aallyah',
 'aalok',
 'aalon',
 'aalya',
 'aalyah',
 'aalycia',
 'aalyha',
 'aalyia',
 'aalyiah',
 'aalyna',
 'aalysia',
 'aalyssa',
 'aalyvia',
 'aamanda',
 'aamanee',
 'aamani',
 'aamar',
 'aamari',
 'aamarion',
 'aamaya',
 'aamber',
 'aamena',
 'aamer',
 'aamia',
 'aamil',
 'aamilah',
 'aamin',
 'aamina',
 'aaminah',
 'aamir',
 'aamira',
 'aamirah',
 'aamiya',
 'aamiyah',
 'aamliya',
 'aamna',
 'aamod',
 'aamoni',
 'aamori',
 'aamosh',
 'aamrin',
 'aamya',
 'aamyah',
 'aana',
 'aanad',
 'aanamika',
 'aanand',
 'aanav',
 'aanaya',
 'aanchal',
 'aania',
 'aaniah',
 'aanijah',
 'aanik',
 'aanika',
 'aanil',
 'aanisah',
 'aaniya',
 'aaniyah',
 'aaniylah',
 'aansh',
 'aanshi',
 'aansi',
 'aansu',
 'aanu',
 'aanvi',
 'aanya',
 'aanyah',
 'aanyla',
 'aapa',
 'aapri',
 'aapu',
 'aaqib',
 'aaqif',
 'aaqil',
 'aara',
 'aarabella',
 'aarabhi',
 'aaradhana',
 'aaradhy',
 'aaradhya',
 'aaraiz',
 'aaralyn',
 'aaralynn',
 'aaran',
 'aaraon',
 'aarati',
 'aaratrika',
 'aarav',
 'aaravi',
 'aaraya',
 'aardhna',
 'aaren',
 'aareon',
 'aareona',
 'aari',
 'aaria',
 'aariah',
 'aarian',
 'aariana',
 'aarianna',
 'aarib',
 'aaric',
 'aarica',
 'aarick',
 'aarie',
 'aariel',
 'aarielle',
 'aarien',
 'aarif',
 'aarifa',
 'aarifun',
 'aarik',
 'aarika',
 'aariketh',
 'aarilyn',
 'aarilynn',
 'aarin',
 'aarini',
 'aarion',
 'aariona',
 'aarionna',
 'aaris',
 'aarish',
 'aarit',
 'aariv',
 'aariya',
 'aariyah',
 'aariyan',
 'aariyana',
 'aariyanna',
 'aariyona',
 'aariyonna',
 'aariz',
 'aarjav',
 'aarju',
 'aarn',
 'aarna',
 'aarnav',
 'aarnavi',
 'aarne',
 'aaro',
 'aaroh',
 'aarohan',
 'aarohi',
 'aarolyn',
 'aaron',
 'aarona',
 'aaronae',
 'aaronda',
 'aaronette',
 'aaronisha',
 'aaronjacob',
 'aaronjames',
 'aaronjohn',
 'aaronjoseph',
 'aaronjosh',
 'aaronjoshua',
 'aaronlee',
 'aaronmichael',
 'aaronn',
 'aaroosh',
 'aarren',
 'aarron',
 'aarsh',
 'aarshi',
 'aarshiya',
 'aarsi',
 'aarthi',
 'aarti',
 'aaruhi',
 'aarush',
 'aarushi',
 'aarvi',
 'aarvin',
 'aary',
 'aarya',
 'aaryah',
 'aaryahi',
 'aaryan',
 'aaryana',
 'aaryanna',
 'aaryash',
 'aaryav',
 'aaryn',
 'aaryon',
 'aaryona',
 'aarza',
 'aas',
 'aasa',
 'aasan',
 'aaser',
 'aash',
 'aasha',
 'aashana',
 'aashay',
 'aashi',
 'aashia',
 'aashif',
 'aashik',
 'aashika',
 'aashini',
 'aashiq',
 'aashir',
 'aashirya',
 'aashis',
 'aashish',
 'aashita',
 'aashiya',
 'aashiyana',
 'aashka',
 'aashkim',
 'aashma',
 'aashman',
 'aashna',
 'aashni',
 'aashray',
 'aashre',
 'aashrita',
 'aashrith',
 'aashritha',
 'aashu',
 'aashvi',
 'aasia',
 'aasif',
 'aasim',
 'aasin',
 'aasir',
 'aasish',
 'aasiya',
 'aasiyah',
 'aasma',
 'aasmin',
 'aason',
 'aastha',
 'aasto',
 'aasu',
 'aatam',
 'aathan',
 'aatif',
 'aatikun',
 'aatir',
 'aatish',
 'aava',
 'aavah',
 'aavash',
 'aaven',
 'aavesh',
 'aavi',
 'aavin',
 'aavion',
 'aavya',
 'aavyan',
 'aavyn',
 'aaya',
 'aayaan',
 'aayah',
 'aayam',
 'aayan',
 'aayana',
 'aayanah',
 'aayanna',
 'aayansh',
 'aayat',
 'aaydan',
 'aayden',
 'aayesha',
 'aayla',
 'aaylah',
 'aayliah',
 'aayra',
 'aaysha',
 'aayu',
 'aayush',
 'aayusha',
 'aayushi',
 'aazad',
 'aazadijully',
 'aazan',
 'aazim',
 'aaziyah',
 'ab',
 'aba',
 'abaan',
 'abad',
 'abagael',
 'abagail',
 'abagaile',
 'abagale',
 'abagayle',
 'abaigael',
 'abaigail',
 'abaigeal',
 'aban',
 'abanoub',
 'abas',
 'abash',
 'abasi',
 'abass',
 'abayomi',
 'abb',
 'abba',
 'abbaas',
 'abbagail',
 'abbagale',
 'abbagayle',
 'abbal',
 'abbas',
 'abbe',
 'abbee',
 'abbegail',
 'abbegale',
 'abbegayle',
 'abbey',
 'abbeygail',
 'abbeygale',
 'abbi',
 'abbie',
 'abbiegail',
 'abbiegale',
 'abbiegayle',
 'abbigael',
 'abbigail',
 'abbigaile',
 'abbigal',
 'abbigale',
 'abbigayl',
 'abbigayle',
 'abbilyn',
 'abbot',
 'abbott',
 'abbra',
 'abbriella',
 'abbrielle',
 'abby',
 'abbye',
 'abbygael',
 'abbygail',
 'abbygaile',
 'abbygale',
 'abbygayl',
 'abbygayle',
 'abbylynn',
 'abcde',
 'abd',
 'abdala',
 'abdalah',
 'abdalla',
 'abdallah',
 'abdalrahman',
 'abdalrhman',
 'abdel',
 'abdelaziz',
 'abdelhadi',
 'abdelkareem',
 'abdelkarim',
 'abdellah',
 'abdelrahman',
 'abdelrhman',
 'abderrahman',
 'abdi',
 'abdias',
 'abdiasis',
 'abdiaziz',
 'abdiel',
 'abdifatah',
 'abdihafid',
 'abdihakim',
 'abdihamid',
 'abdikadir',
 'abdikarim',
 'abdikhaliq',
 'abdilahi',
 'abdimalik',
 'abdinajib',
 'abdinasir',
 'abdiqani',
 'abdirahim',
 'abdirahin',
 'abdirahman',
 'abdirashid',
 'abdirisaq',
 'abdirizak',
 'abdisalam',
 'abdisalan',
 'abdisamad',
 'abdishakur',
 'abdiwahab',
 'abdiwali',
 'abdo',
 'abdon',
 'abdou',
 'abdoul',
 'abdoulaye',
 'abdoulaziz',
 'abdoulie',
 'abdourahman',
 'abdourahmane',
 'abdrahman',
 'abdrew',
 'abdu',
 'abdual',
 'abduallah',
 'abduel',
 'abdul',
 'abdula',
 'abdulah',
 'abdulahad',
 'abdulahi',
 'abdulai',
 'abdulaye',
 'abdulazeem',
 'abdulazeez',
 'abdulaziz',
 'abdulbari',
 'abdulbasit',
 'abdule',
 'abdulelah',
 'abdulhadi',
 'abdulhakeem',
 'abdulhakim',
 'abdulhalim',
 'abdulhameed',
 'abdulhamid',
 'abduljabbar',
 'abduljaleel',
 'abduljalil',
 'abdulkadir',
 'abdulkareem',
 'abdulkarim',
 'abdulkhaliq',
 'abdull',
 'abdulla',
 'abdullah',
 'abdullahi',
 'abdullatif',
 'abdulloh',
 'abdulmajeed',
 'abdulmajid',
 'abdulmalek',
 'abdulmalik',
 'abdulmohsen',
 'abdulnasir',
 'abdulqadir',
 'abdulraheem',
 'abdulrahim',
 'abdulrahman',
 'abdulrazaq',
 'abdulrehman',
 'abdulrhman',
 'abdulsalam',
 'abdulsamad',
 'abdulwadud',
 'abdulwahab',
 'abdulwahid',
 'abdur',
 'abdurahman',
 'abdurahmon',
 'abdurraheem',
 'abdurrahim',
 'abdurrahmaan',
 'abdurrahman',
 'abdurrehman',
 'abdussamad',
 'abe',
 'abeal',
 'abed',
 'abedallah',
 'abedalrahman',
 'abednego',
 'abeeha',
 'abeer',
 'abeera',
 'abegail',
 'abegale',
 'abegayle',
 'abel',
 'abela',
 'abelardo',
 'abelina',
 'abelino',
 'abell',
 'abella',
 'abem',
 'aben',
 'abena',
 'abenezer',
 'abeni',
 'aber',
 'aberdeen',
 'aberham',
 'abernathy',
 'abert',
 'abery',
 'abey',
 'abgail',
 'abha',
 'abhaki',
 'abhash',
 'abhay',
 'abhaysingh',
 'abheek',
 'abhi',
 'abhigna',
 'abhijay',
 'abhijeet',
 'abhijit',
 'abhijot',
 'abhik',
 'abhilash',
 'abhilasha',
 'abhimanu',
 'abhimanyu',
 'abhinandan',
 'abhinash',
 'abhinav',
 'abhinay',
 'abhinaya',
 'abhinwav',
 'abhiraam',
 'abhiraj',
 'abhiram',
 'abhirup',
 'abhisek',
 'abhisekh',
 'abhishak',
 'abhishek',
 'abhishekchotu',
 'abhishekh',
 'abhishiek',
 'abhishik',
 'abhyuday',
 'abi',
 'abia',
 'abiageal',
 'abiah',
 'abian',
 'abianna',
 'abibail',
 'abid',
 'abida',
 'abidah',
 'abidan',
 'abie',
 'abiegail',
 'abiel',
 'abiela',
 'abiella',
 'abiezer',
 'abigael',
 'abigaelle',
 'abigahil',
 'abigai',
 'abigail',
 'abigaile',
 'abigailgrace',
 'abigaille',
 'abigailmarie',
 'abigailrose',
 'abigal',
 'abigale',
 'abigayil',
 'abigayl',
 'abigayle',
 'abigeal',
 'abigel',
 'abigial',
 'abiha',
 'abihail',
 'abijah',
 'abilene',
 'abilgail',
 'abilio',
 'abilyn',
 'abilynn',
 'abimael',
 'abiman',
 'abimbola',
 'abimelec',
 'abin',
 'abinadab',
 'abinadi',
 'abinav',
 'abinaya',
 'abiodun',
 'abiola',
 'abiona',
 'abir',
 'abira',
 'abiram',
 'abirami',
 'abisag',
 'abisai',
 'abish',
 'abisha',
 'abishai',
 'abishak',
 'abishek',
 'abisola',
 'abiud',
 'abiyah',
 'abla',
 'able',
 'abnel',
 'abner',
 'abney',
 'abony',
 'abou',
 'aboubacar',
 'aboubakar',
 'abra',
 'abraam',
 'abraar',
 'abrah',
 'abraham',
 'abrahan',
 'abraheem',
 'abrahem',
 'abrahim',
 'abrahm',
 'abram',
 'abran',
 'abranda',
 'abrar',
 'abraxas',
 'abrea',
 'abreana',
 'abreanna',
 'abree',
 'abreia',
 'abren',
 'abreona',
 'abreonna',
 'abrey',
 'abreya',
 'abrham',
 'abri',
 'abria',
 'abriah',
 'abrial',
 'abriam',
 'abrian',
 'abriana',
 'abrianna',
 'abriannah',
 'abrianne',
 'abrie',
 'abriel',
 'abriela',
 'abriele',
 'abriella',
 'abrielle',
 'abrien',
 'abrienne',
 'abrigail',
 'abrihet',
 'abril',
 'abrille',
 'abrina',
 'abrion',
 'abriona',
 'abrionna',
 'abrish',
 'abriya',
 'abriyah',
 'abriyana',
 'abrol',
 'abrom',
 'abron',
 'abrum',
 'abry',
 'abryana',
 'abryanna',
 'abryella',
 'abryelle',
 'abryl',
 'absalat',
 'absalom',
 'absalon',
 'abshir',
 'absidy',
 'abtin',
 'abu',
 'abubacar',
 'abubacarr',
 'abubakar',
 'abubakarr',
 'abubakary',
 'abubaker',
 'abubakr',
 'abuk',
 'abukar',
 'abul',
 'abundio',
 'abusala',
 'aby',
 'abyade',
 'abyan',
 'abygael',
 'abygail',
 'abygaile',
 'abygale',
 'abygayle',
 'abyssinia',
 'ac',
 'acacia',
 'acacius',
 'acadia',
 'acamas',
 'acari',
 'acasia',
 'accacia',
 'accalia',
 'access',
 'accie',
 'accursio',
 'ace',
 'acea',
 'acein',
 'acel',
 'acelin',
 'acelino',
 'acelyn',
 'acelynn',
 'acen',
 'acencion',
 'aceon',
 'acer',
 'aceson',
 'acesyn',
 'aceton',
 'acey',
 'aceyn',
 'achai',
 'achaia',
 'achan',
 'achante',
 'achanti',
 'achariy',
 'achary',
 'achazia',
 'achel',
 'acheron',
 'achille',
 'achilles',
 'achilleus',
 'achillies',
 'achin',
 'achintya',
 'achol',
 'achraf',
 'achsa',
 'achsah',
 'achyut',
 'achyuth',
 'acia',
 'aciano',
 'acie',
 'aciel',
 'acil',
 'acire',
 'ackeem',
 'ackley',
 'acob',
 'acquanetta',
 'acquanette',
 'acsa',
 'acura',
 'acxel',
 'acy',
 'ad',
 'ada',
 'adabel',
 'adabella',
 'adabelle',
 'adacia',
 'adae',
 'adael',
 'adaelyn',
 'adaeze',
 'adagio',
 'adah',
 'adahir',
 'adahli',
 'adahlia',
 'adahy',
 'adai',
 'adaia',
 'adaiah',
 'adaija',
 'adaijah',
 'adailyn',
 'adain',
 'adair',
 'adaira',
 'adaire',
 'adairis',
 'adaisha',
 'adaisia',
 'adaja',
 'adajah',
 'adak',
 'adaku',
 'adal',
 'adala',
 'adalade',
 'adalae',
 'adalai',
 'adalaide',
 'adalat',
 'adalay',
 'adalaya',
 'adalayde',
 'adalbert',
 'adalberto',
 'adale',
 'adalea',
 'adaleah',
 'adalee',
 'adaleen',
 'adaleena',
 'adalei',
 'adaleia',
 'adaleigh',
 'adaleine',
 'adalen',
 'adalena',
 'adalene',
 'adaley',
 'adaleya',
 'adaleyza',
 'adalhi',
 'adali',
 'adalia',
 'adaliah',
 'adalicia',
 'adalid',
 'adalida',
 'adalie',
 'adaliene',
 'adalin',
 'adalina',
 'adalind',
 'adalinda',
 'adaline',
 'adalinn',
 'adalinne',
 ...]

In [23]:
y = df.gender

In [40]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.33,random_state = 42)

In [41]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(x_train,y_train)

MultinomialNB()

In [42]:
model.score(x_test,y_test)

0.7095603358579137

In [54]:
sample = ["vimath kumar"]
vector = cv.transform(sample).toarray()
model.predict(vector)

array([1], dtype=int64)

In [44]:
sample = ["sai"]
vector = cv.transform(sample).toarray()
model.predict(vector)

array([1], dtype=int64)

In [49]:
sample = ["joy"]
vector = cv.transform(sample).toarray()
model.predict(vector)

array([1], dtype=int64)

In [52]:
sample = ["priya"]
vector = cv.transform(sample).toarray()
model.predict(vector)

array([0], dtype=int64)

In [47]:
sample = ["smauel"]
vector = cv.transform(sample).toarray()
model.predict(vector)

array([1], dtype=int64)